# Strings

# A string can be initialized using either single quotes or double quotes. Single line strings are initialized using only 1 single or double quotes

In [1]:
val = 'aman'

val = "aman sjvksj;lvfdlkjdsjkfl';fd;lgskfdfdlkjkjdsj;fdsfkdsfkdsfnjkdsfk'ldsjfljdsf;lkdsljflsdlkghds;gkjlkhfslkglkfdhj;lskfgljsljfj;sdkfj;lkdskf;dsk"

# Multi-line strings can be initialised using triple single or double quotes

In [2]:
val = ''' shjfgkjsfjdshjfks;lfs
skvkjdsj;glkskjgdslg
sdkjfdskjfldsf
sdkfkjdsjflkdsjfldsf

sjhflkdsjfkjdslf
sjs'''

val = """skfdsfkldkdfhfgdkvs
fskjhvkfskhfd
sdkfkjdshkjgjslfdfj
sdhlksfjgfsjgjkfsl"""

# Strings inside triple quotes can also be used for multi-line commenting purposes. They are also called as Docstrings

In [5]:
def function(number):
    '''
    The function returns square of a number
    '''
    return number**2

# To get the datatype of a variable we can use the type() function

In [6]:
a = 123
b = "aman"
c= 1.23

type(a), type(b), type(c)

(int, str, float)

# To get the certain specific part of a string we can use the concept of slicings. For slicing we provide the index numbers in a square bracket
# Indexing from left hand side always starts from 0 to n-1, where n is the length of the collection.
# Indexing from right hand side always starts from -1 to -n, where n is the length of the collection.

In [10]:
a = "aman mishra"    #         
#    0123456789
#    -10-9-8-7-6-5-4-3-2-1

print(a[3]) # n
print(a[1:5])  #'man '

print(a[-5]) # i
print(a[-8:-3]) #an mis

n
man
i
n mis

In [ ]:
# There are 2 types of datatype conversion : Implicit and Explicit

In [18]:
# Implicit : Where the dataype of a variable chnages dynamically upon the initialization or assignment of a 
# value to that variable

val = 123

print(type(val))

val = "aman"

print(type(val))

<class 'int'>
<class 'str'>

In [17]:
# Explicit Conversion : Where we specify a specific function to convert the value to that specific datatype

val = "123"
print(type(val))

val  = int(val)
print(type(val))

<class 'str'>
<class 'int'>

In [20]:
# Exercise :  Why the following code snippet gives an error
a = "23.23"
int(a)

ValueError: invalid literal for int() with base 10: '23.23'

In [3]:
name = "Aman "
lname = "Mishra"

fullname = name + lname  # string concatenation

fullname

'Aman Mishra'

# String Functions

In [6]:
fullname.index("Mish")

5

In [7]:
len(fullname)

11